@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Vouchers .Net Core 1.0 Home</title>
</head>
<body>
    <h1>@ViewBag.AppName</h1><br />

<div>

</div>
</body>
</html>